h1 {
    color: rgb(128, 107, 221);
    font-size: 70px;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

p {
    font-family: sans-serif;
    color: rgb(50, 191, 78);
}

button {
    background-color: orangered;
    color: white;
    border: 0;
    padding: 20px;
}